name: Test
on: [push, pull_request]

jobs:
  test:
    runs-on: macos-latest
    steps:
      # Checkout the repo
      - uses: actions/checkout@v2

      # Set up flutter environment
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'
      
      - run: flutter pub get
      - run: flutter analyze
      - run: flutter test --coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage/lcov.info


      
      